<!-- Main Footer Start -->
<footer class="main-footer bg-radius-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Footer Header Start -->
                <div class="footer-header">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img width="170" height="61" decoding="async" src="images/footer-logo.svg" alt="Logo Gio Smart">
                    </div>
                    <!-- Footer Logo End -->

                    <!-- Footer Contact Box Start -->
                    <div class="footer-contact-box">
                        <!-- Footer Contact Item Start -->
                        <div class="footer-contact-item">
                            <div class="icon-box">
                                <img width="50" height="51" loading="lazy" decoding="async" src="images/icon-phone.svg" alt="Téléphone">
                            </div>
                            <div class="footer-contact-content">
                                <h3>Téléphone</h3>
                                <p>06 70 42 48 76</p>
                            </div>
                        </div>
                        <!-- Footer Contact Item End -->

                        <!-- Footer Contact Item Start -->
                        <div class="footer-contact-item">
                            <div class="icon-box">
                                <img width="50" height="51" loading="lazy" decoding="async" src="images/icon-mail.svg" alt="Email">
                            </div>
                            <div class="footer-contact-content">
                                <h3>Email</h3>
                                <p>contact@giosmart-services.fr</p>
                            </div>
                        </div>
                        <!-- Footer Contact Item Start -->
                        <div class="footer-contact-item">
                            <div class="icon-box">
                                <img width="40" height="41" loading="lazy" decoding="async" src="images/icon-location-white.svg" alt="Adresse">
                            </div>
                            <div class="footer-contact-content">
                                <h3>Zone d’intervention</h3>
                                <p>Martigues et alentours</p>
                            </div>
                        </div>
                        <!-- Footer Contact Item End -->
                        <!-- Footer Contact Item End -->
                    </div>
                    <!-- Footer Contact Box End -->
                </div>
                <!-- Footer Header End -->
            </div>

            <div class="col-lg-6">
                <!-- About Footer Start -->
                <div class="about-footer footer-links">
                    <h3>À propos de Gio Smart</h3>
                    <p>Votre partenaire de confiance pour tous vos besoins en dépannage, entretien et solutions techniques à domicile ou en entreprise.</p>
                </div>
                <!-- About Footer End -->
            </div>

            <div class="col-lg-2 col-md-4">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Liens rapides</h3>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/a-propos">À propos</a></li>
                        <li><a href="/services">Services</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-4">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="/faq">Aide</a></li>
                        <li><a href="/mentions-legales">Infos légales</a></li>
                        <li><a href="/politique-confidentialite">Confidentialité</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-4">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Suivez-nous</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=61577638752655">Facebook</a></li>
                        <li><a href="https://www.instagram.com/giosmart_officiel/">Instagram</a></li>
                        <li><a href="https://www.tiktok.com/@giosmart_officiel">Tik Tok</a></li>
                        <li><a href="https://www.linkedin.com/company/gio-smart/">LinkedIn</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>
        </div>

        <!-- Footer Copyright Start -->
        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Footer Copyright Text Start -->
                    <div class="footer-copyright-text">
                        <p>© 2026 Gio Smart. Tous droits réservés. Site réalisé par <a rel="noopener noreferrer" href="https://adalberto.fr" target="_blank">Adalberto Furtado</a>.</p>
                    </div>
                    <!-- Footer Copyright Text End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </div>
</footer>
<!-- Main Footer End -->
