<!-- Header Start -->
	<header class="main-header">
		<div class="header-sticky">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<!-- Logo Start -->
					<a class="navbar-brand" href="./">
						<img width="142" height="50" decoding="async" src="images/logo.svg" alt="Logo">
					</a>
					<!-- Logo End -->

    <!-- Main Menu Start -->
    <div class="collapse navbar-collapse main-menu">
        <div class="nav-menu-wrapper">
            <ul class="navbar-nav mr-auto" id="menu">
             <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>

            <li class="nav-item submenu">
                <a class="nav-link" href="/services">Services</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Tous nos services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menage-et-entretien">Ménage & Entretien</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aide-a-la-personne">Aide aux Personnes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aide-au-demenagement">Aide au Déménagement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services-numeriques">Services Numériques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blanchisserie-et-couture">Blanchisserie & Couture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services-soins-animaux">Soins des Animaux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/petits-travaux-maison">Petits Travaux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nettoyage-apres-travaux-demenagement">Nettoyage Post-Déménagement</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/tarifs">Tarifs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nos-realisations">Réalisations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/a-propos">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>

    <!-- Header Btn Start -->
    <div class="header-btn d-inline-flex">
        <a href="/contact" class="btn-default">Demander un devis</a>
    </div>
    <!-- Header Btn End -->
</div>
<!-- Main Menu End -->

<div class="navbar-toggle"></div>
</div>
</nav>
<div class="responsive-menu"></div>
</div>
</header>
<!-- Header End -->
